<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROOMAKU</title>
    @Styles.Render("~/Content/css")                           
    @*@Scripts.Render("~/bundles/modernizr")*@

    <script type="text/javascript">
        msie = parseInt((/msie (\d+)/.exec(navigator.userAgent.toLowerCase()) || [])[1]);
        if (isNaN(msie)) {
            msie = parseInt((/trident\/.*; rv:(\d+)/.exec(navigator.userAgent.toLowerCase()) || [])[1]);
        }
        if(!isNaN(msie)) {
            alert('Unsupported browser, please use Mozilla Firefox or Google Chrome !');
        }

        var base_url = "@Url.Content("~/")";        
    </script>
</head>
<body>
   
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
